@font-face {
    font-family: 'FontName';
    src: url(Roboto-Black.ttf);
}

@font-face {
    font-family: 'FontName Thin';
    src: url(Roboto-Thin.ttf);
}

@font-face {
    font-family: 'FontName Medium';
    src: url(Roboto-Medium.ttf);
}


body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    font-size: 18px;
    padding: 6px;
    color: var(--tg-theme-text-color);
    /*background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(255, 255, 255) 27.8%, rgb(43, 44, 44) 110.2%);*/
    font-family: 'FontName';
    max-width: 390px;
    background: #FFF;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("bg.jpg");*/
    /*!*background-size: 2400px 482px;*!*/
    /*background-size: 1200px 241px;*/
}

.container {
    max-width: 380px;
}
.inner {
    display: grid;
    grid-template-columns: 190px 190px;
    grid-template-rows: 210px 210px 210px;
}
.img {
    width: 120px;
    margin-bottom: 0;
}
.item {
    text-align: center;
    background: rgba(137, 61, 4, 0);
    margin: 6px;
    padding: 0;
    padding-top: 2px;
    border-radius: 10px;
    border: solid 7px #1a325e;
        box-shadow: #A0A0A0CD 5px 5px 0;
}
.add-btn, .sub-btn {
    display: inline-block;
    padding: 5px 10px;
    border: none;
    background: #d7421a;
    border-radius: 10px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    transition: background .2s linear;
    margin-top: 5px;
}
.usercard {
    text-align: center;
}
.name {
    font-size: 12px;
    font-family: 'FontName Medium';
    font-weight: 600;
    color: #1a325e;
    margin-top: -10px;
    text-shadow: #A0A0A0CD 1px 1px 1px;
    /*text-decoration: underline;*/
}
.value {
    color: #1a325e;
    text-shadow: #A0A0A0CD 1px 1px 1px;
}